body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.todo-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 50%;
}
